.title {
    font-family: 'Fira Sans';
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
}
.subtitle {
    margin-top: 12px;
    padding: 0 300px 0 300px;
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #EFE7E2;
}